#title{
    background-color: #FF4C68;
    color: white;
}
h1{
    font-family: "Montserrat",sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid{
    padding: 3% 15%;
}
body{
    font-family: 'Montserrat';
}
/* Nevegation bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: lighter;
}
/* Download button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* Title image */
.title-img{
    width: 60%;
    transform: rotate(25deg);
}
/*  */
.feat-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 900;
}
p{
    color: #8f8f8f;
}
.feat-icon:hover{
    color: #FF4C68;
}
/* Testimonial section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
h2{
    
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
/* Press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-img{
        transform: rotate(0deg);
}
}
#cta{
    background-color:#FF4C68;
    font-family: "Montserrat";
    text-align: center;
    padding: 7% 15%;
    color: white;
}
h3{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
#footer{
    padding: 5%;
    text-align: center;
    font-family: 'Montserrat';
}
.cta-icon{
    padding: 2%;
}